body {
	background: #FFF;
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 30px;
	text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
	font-size: 60px;
	font-weight: normal;
	margin: 0;
    font-family: 'Chelsea Market', Georgia, serif;
    color: #000;
	line-height: 1;
}

h2 {
	font-size: 70px;
	font-weight: normal;
	margin: 0;
	color: #FFB000;
    font-family: 'Chelsea Market', Georgia, serif;
	text-transform: lowercase;
}

h3 {
	font-size: 40px;
	font-weight: normal;
	margin: 0;
    margin-top: 40px;
	text-transform: lowercase;
}

p {
	width: 960px;
	margin: 40px auto;
	color: #000;
    line-height: 200%;
}

a, a:visited {
	color: #000;
    font-size: 12px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
	list-style: none;
}

.download {
	padding: 10px;
}

pre {
	font-size: 18px;
}

blockquote {
	text-align: left;
	width: 720px;
	margin: 10px auto;
	background: #C5C3DE;
	border: solid 2px #69697A;
	padding: 0 40px;
}

code {
    background-color: #000;
	font-style: normal;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
    font-family: menlo, monospace;
}

/*----------------------------------------  BLOCKS */

.scrollblock {
	position: relative;
	margin: 0;
	width: 100%;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}

.scrollblock h2 {

}

.block-title { background-color: #FFF; padding-bottom: 50px; }
.block-title h2 { color: #000; }
.block-title .meta { font-size: 16px; color: #999; }
.block-title .meta a { font-size: 16px; color: #333; }
.block-setup { background-color: #348fd4; }
.block-setup h2 { color: #06406c; }
.block-setup h2 a { background: none; padding: 0; font-size: normal; }
.block-setup a { color: #FFF; font-size: 40px; font-weight: normal;font-style: normal; background-color: #06406c; padding: 10px 15px; border-radius: 10px; text-decoration: none; }
.block-setup a:hover { text-decoration: underline; }
.block-create { background-color: #06406c; }
.block-create h2 { color: #FFF; }
.block-create p { color: #FFF; }
.block-create code { background-color: #000; color: #FFF; }
.block-checkout { background-color: #FFF; }
.block-checkout h2 { color: #000; }
.block-trees { background-color: #4c0d09; }
.block-trees h2 { color: #d3b2af; }
.block-trees p { color: #d3b2af; }
.block-trees code { color: #000; background-color: white; }
.block-add { background-color: #cc4037; }
.block-add h2, .block-add p { color: #4c0d09; }
.block-remote { background-color: #ffc19f; }
.block-remote h2 { color: #cc4037; }
.block-branching { background-color: #000; }
.block-branching h2 { color: #FFF; }
.block-branching p { color: #DDD; }
.block-branching code { color: #000; background-color: white; }
.block-merging { background-color: #F2F2F2; }
.block-merging h2 { color: #666; }
.block-tagging { background-color: #F2F2F2; }
.block-tagging h2 { color: #FFF; }
.block-hints { background-color: #F2F2F2; }
.block-hints h2 { color: #FFF; }
.block-resources { background-color: #ffc19f; }
.block-resources h2 { color: #cc4037; }
.block-resources h3 { color: #7d1f19; }
.block-resources ul { list-style: disc; margin: 0; padding: 0; }
.block-resources ul li a { font-size: 24px; color: #cc4037; }
.block-tagging { background-color: #348fd4; }
.block-tagging h2 { color: #06406c; }
.block-hints { background-color: #06406c; }
.block-hints h2 { color: #FFF; }
.block-hints p { color: #FFF; }
.block-hints code { background-color: #000; color: #FFF; }
.block-checkout-replace { background-color: #fff8c9; }
.block-checkout-replace h2 { color: #2d2700; }
.block-checkout-replace p { color: #615400; }
.block-comments { background-color: #FFF; padding-bottom: 50px; font-size: 14px; color: #000; }
.block-comments h2 { color: #000; }
.block-comments h3 { font-size: 16px; }
.block-comments #disqus_thread { width: 600px; text-align: left; margin-left: auto; margin-right: auto; }

.tower {
    display: block;
    width: 180px;
    height: 260px;
    position: absolute;
    top: 330px;
    right: 0;
    background: #FFF url(../img/git-tower.png) no-repeat;
}

.cheatsheet {
    display: block;
    width: 180px;
    height: 250px;
    position: absolute;
    top: 346px;
    left: 0;
    background: #FFF url(../img/cheatsheet.png) no-repeat;
}

.announcement {
    margin-bottom: 40px;
}

.announcement img {
    border-radius: 4px;
}
